*{
	margin:0;
	padding:0;
}
body {
	border:0;
	width:100%;
	background:#fff;
	min-width:600px;
	font-size:80%;
	line-height:80%;
	line-height:18px;
	color:#333333;
	font-family:Arial,Helvetica,sans-serif;
	}
h2, h3, h4 {
	margin: 0;
	padding: 0 0 5px 0;
}
	
h2 {
	margin:5px 0 0 5px;
	font-size:14px;
	font-weight:600;
	color:#3D3D3D;
	font-family:"Trebuchet MS";
}
	
h3 {
	font-size: 13px;
	font-weight: bold;
}

h4 {
	font-size: 11px;
}

a {
	color: #096DD1;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}
#header {
	clear:both;
	float:left;
	width:100%;
}
/* Menu superior */
#menutop{
	height:80px;
	background:#f2f2f2;
	border-bottom:1px solid #848484;
}
#menutop ul{
	margin-top:13px;
	margin-left:10px;
}
#menutop li{
	list-style:none;
	float:left;
}
#menutop a{
	color:#000;
	font-size:90%;
	display:block;
	float:left;
	margin-right:20px;
}
/* Menu superior */
#desktopTitlebar {
	background:url("../images/logo-blank.gif") no-repeat scroll left 0 transparent;
	height:32px;
	padding:7px 8px 6px;
}
#desktopTitlebarWrapper {
	background:url("../images/bg-header.gif") repeat-x scroll left #718BA6;
	height:45px;
	overflow:hidden;
	position:relative;
}

#header p,
#header h1,
#header h2 {
	
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 0px;
	padding:2px 20px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	
}
#header ul li a.active,
#header ul li a.active:hover {
	
}
#header ul li a span {
	display:block;
}
#layoutdims {
	clear:both;
	
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
.colmask {
	position:relative;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden;
}
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 0 0;
	overflow:hidden;
}
/* 3 Columnas*/
.threecol {

}
.threecol .colmid {
	right:25%;			
	background:#fff;
}
.threecol .colleft {
	right:50%;
}
.threecol .col1 {
	width:46%;
	left:102%;
	padding-top:20px;			
}
.threecol .col2 {
	width:30%;
	left:29%;
}
.threecol .col3 {
	width:24%;			
	left:85%;			
}
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #848484;
}
#desktopFooter{
	font-size:11px;
	padding:15px;
}
#footer p {
	padding:10px;
	margin:0;
}
.cuadro{
	width:199px;
	
	border-bottom:1px solid #D3D3D3;
}
.cuadror{
	width:232px;
	border-bottom:1px solid #D3D3D3;
}
.theader{
	background:url("../images/bg-panel-header.gif") repeat-x scroll 0 0 #F1F1F1;
	border-bottom:1px solid #D3D3D3;
	height:30px;
	overflow:hidden;
	position:relative;
}
.cuadcont{
	margin:10px;
}
.cuadcont ul{
	margin-left:15px;
}
.columnHandle {
	background:url("../images/handle-icon.gif") no-repeat scroll center center #C3C3C3;
	border-color:-moz-use-text-color #909090;
	border-left:1px solid #909090;
	border-right:1px solid #909090;
	border-style:none solid;
	border-width:0 1px;
	float:left;
	min-height:400px;
	overflow:hidden;
	width:4px;
	cursor: e-resize; height: 64px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.topbar{
	color:#D4DCE4;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	text-align:right;
}
.fixl{
	clear:left;
}
.hidden{
	display:none;
}
