<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <servlet>
        <servlet-name>AlumnoServ</servlet-name>
        <servlet-class>Controller.Estrategias.AlumnoServ</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AlumnoServ</servlet-name>
        <url-pattern>/estrategias/alumnoserv.do</url-pattern>
    </servlet-mapping>


      <servlet>
        <servlet-name>EstrategiaServ</servlet-name>
        <servlet-class>Controller.Estrategias.EstrategiaServ</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>EstrategiaServ</servlet-name>
        <url-pattern>/estrategias/estrategiaserv.do</url-pattern>
    </servlet-mapping>
<!--Inicio Servlets de evaluaciones-->
    <servlet>
        <servlet-name>llenarMateriasAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.llenarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarCompetenciasAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.llenarCompetencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.crearAE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEvaluacionAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.guardarEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarMateriasEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.llenarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarCompetenciasEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.llenarCompetencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.crearEF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEvaluacionEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.guardarEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarMateriasCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.llenarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarCompetenciasCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.llenarCompetencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.crearCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEvaluacionCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.guardarEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarGruposEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.llenarGrupos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>llenarMateriasAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/llenarMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarCompetenciasAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/llenarCompetencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/crearAE.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEvaluacionAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/guardarEvaluacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarMateriasCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/llenarMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarCompetenciasCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/llenarCompetencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/crearCE.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEvaluacionCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/guardarEvaluacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarMateriasEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/llenarMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarCompetenciasEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/llenarCompetencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/crearEF.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEvaluacionEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/guardarEvaluacion.do</url-pattern>
    </servlet-mapping>
    <!--Fin Servlets de evaluaciones-->
    <!--Inicio Servlets de competencias-->
    <servlet>
        <servlet-name>crearCriterio</servlet-name>
        <servlet-class>Controller.Competencias.crearCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCriterio</servlet-name>
        <servlet-class>Controller.Competencias.eliminarCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCriterio</servlet-name>
        <servlet-class>Controller.Competencias.modificarCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCompetencia</servlet-name>
        <servlet-class>Controller.Competencias.crearCompetencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCompetencia</servlet-name>
        <servlet-class>Controller.Competencias.eliminarCompetencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCompetencia</servlet-name>
        <servlet-class>Controller.Competencias.modificarCompetencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCriterios</servlet-name>
        <servlet-class>Controller.Competencias.agregarCriterios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCriterioCompetencia</servlet-name>
        <servlet-class>Controller.Competencias.crearCriterioCompetencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearCriterio</servlet-name>
        <url-pattern>/competencias/criterios/crearCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCriterio</servlet-name>
        <url-pattern>/competencias/criterios/eliminarCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCriterio</servlet-name>
        <url-pattern>/competencias/criterios/modificarCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCompetencia</servlet-name>
        <url-pattern>/competencias/crearCompetencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCompetencia</servlet-name>
        <url-pattern>/competencias/eliminarCompetencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCompetencia</servlet-name>
        <url-pattern>/competencias/modificarCompetencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCriterios</servlet-name>
        <url-pattern>/competencias/agregarCriterios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCriterioCompetencia</servlet-name>
        <url-pattern>/competencias/crearCriterioCompetencia</url-pattern>
    </servlet-mapping>
    <!--Fin Servlets de competencias-->
    <servlet-mapping>
        <servlet-name>llenarGruposEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/llenarGrupos.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
