<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>llenarMateriasAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.llenarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarCompetenciasAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.llenarCompetencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.crearAE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEvaluacionAE</servlet-name>
        <servlet-class>Controller.AutoEvaluacion.guardarEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarMateriasEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.llenarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarCompetenciasEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.llenarCompetencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.crearEF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEvaluacionEF</servlet-name>
        <servlet-class>Controller.EvaluacionF.guardarEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarMateriasCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.llenarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenarCompetenciasCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.llenarCompetencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.crearCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEvaluacionCE</servlet-name>
        <servlet-class>Controller.CoEvaluacion.guardarEvaluacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>llenarMateriasAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/llenarMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarCompetenciasAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/llenarCompetencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/crearAE.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEvaluacionAE</servlet-name>
        <url-pattern>/Evaluaciones/Autoevaluacion/guardarEvaluacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarMateriasCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/llenarMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarCompetenciasCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/llenarCompetencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/crearCE.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEvaluacionCE</servlet-name>
        <url-pattern>/Evaluaciones/Coevaluacion/guardarEvaluacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarMateriasEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/llenarMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenarCompetenciasEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/llenarCompetencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/crearEF.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEvaluacionEF</servlet-name>
        <url-pattern>/Evaluaciones/EvaluacionF/guardarEvaluacion.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
