/**
/* CSS Siec
/* author: esteban.uscanga@tekiotl.com
/* 2010
/**/

*{
	margin:0;
	padding:0;
        border: 0 none;
}
/* Elementos HTML*/
html {
    height: 100.1%;
}
body {
	height: 100%;
        color:#333;
	background:#fff;
	font-size:80%;
	line-height:18px;
	font-family:Arial,Helvetica,sans-serif;
}
a{
    color: #096DD1;
    text-decoration: none;
}
h1, h2, h3, h4 {
    margin-bottom: 5px;
    padding: 10px 0px 10px 10px;
}
h1{
    color:#748391;
}
h2 {
    font-size: 150%;
    background-color: #718BA6;
    color: #fff;
}
h3 {
    font-size: 130%;
    background-color: #6a92b5;
    color: #213343;
}
h4 {
    padding-left: 30px;
    font-size: 110%;
    background-color: transparent;
    color: #213343;
}

hr {
    display: none;
}

/* Miscelaneos */
.msnerror  {
    background:#FF360E;
    color:#FFFFFF;
    margin:10px auto 0;
    padding:5px;
    text-align:center;
    width:90%;
}
.msnok {
    background:#ACE600;
    color:#000;
    margin:20px auto 0;
    padding:5px;
    text-align:center;
    width:90%;
}
.fl{
    display: block;
    float: left;
}
.fr{
    display: block;
    float: right;
}
.cl{
    clear: left;
}
.hidden{
    display: none;
}
.cpointer{
    cursor:pointer;
}
    /* Cuadro */
.cuadro{
	border-bottom:1px solid #D3D3D3;
}
.theader{
	background:url("../images/bg-panel-header.gif") repeat-x scroll 0 0 #F1F1F1;
	border-bottom:1px solid #D3D3D3;
	height:27px;
	overflow:hidden;
	position:relative;
        font-weight: bold;
        padding:8px 0 0 15px;
}
.cuadcont{
    padding:10px;
    background: #fff;
}
.cuadcont ul{
    padding-left:20px;
}
.cuadcont li{
    list-style: circle;
}
.cuadromarg{
    margin: 10px;
}
#footerbox {
    clear: both;
    height: 40px;
}
/* Layout */
#wrapper {
    height: 100%;
    min-height: 100%;
    margin: 0 200px -41px 200px;
    border-left: 3px solid #C3C3C3;
    border-right: 3px solid #C3C3C3;
    background-color: #DDE4F4;
}
html > body #wrapper {
    height: auto;
}

/* Header */
#header {
    position: relative;
    height: 85px;
    margin: 0 -202px 0 -202px;
    border-bottom: 1px solid #848484;
    color: #fff;
    background-color: #f2f2f2;
}
#desktopTitlebar {
	background:url("../images/logo-blank.gif") no-repeat scroll left transparent;
	height:32px;
	padding:7px 8px 6px;
}
#desktopTitlebarWrapper {
	background:url("../images/bg-header.gif") repeat-x scroll left #718BA6;
	height:45px;
	position:relative;
}
#header h1{
    display:none;
}
#header .topbar{
	color:#D4DCE4;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	text-align:right;
        display: block;
        float:right;
}
.topbar ul{
    margin-top:10px;
}
.topbar a{
        text-decoration: none;
        color:#fff;
}
.topbar li{
    float:left;
    margin-left: 20px;
    list-style: none;
}

    /* Menu Principal */
#mprincipal{
	background:#f2f2f2;
}
#mprincipal ul{
	margin-top:6px;
	margin-left:10px;

}
#mprincipal li{
	list-style:none;
	float:left;
}
#mprincipal a{
	color:#000;
	font-size:90%;
        padding-top: 5px;
	float:left;
	margin-right:10px;
        padding: 4px 5px 7px 30px;
}
#mprincipal a:hover{
    background-color: #ebe9e9;
}
    /* Menu Imagenes*/
#mprincipal .competencias{
    background:transparent url("../images/menu/competencias.png") no-repeat 5px 3px;
}
#mprincipal .formativas{
    background:transparent url("../images/menu/formativas.png") no-repeat 5px 3px;
}
#mprincipal .acumulativas{
    background:transparent url("../images/menu/criterios.png") no-repeat 5px 3px;
}
#mprincipal .reportes{
    background:transparent url("../images/menu/reportes.png") no-repeat 5px 3px;
}
#mprincipal .estrategias{
    background:transparent url("../images/menu/estrategias.png") no-repeat 5px 3px;
}

    /* Menu de controles */
#mtopctrl{
float: right;
}
#mtopctrl a{
    color:#001ca8;
}
#mtopctrl ul{
    margin:0 20px 0 10px;
}
#mtopctrl ul li{
    display: block;
    float: left;
}
#btnhidecols{
    display: block;
    padding-left:28px;
    height: 22px;
}
.btnhidecolsnp{
    background:transparent url("../images/view_icon.png") no-repeat 0 -2px;
}
.btnhidecolsp{
    background:transparent url("../images/view_choose.png") no-repeat 0 -2px;
}
/* Menu izquierda*/
#menul {
    float: left;
    width: 200px;
    margin-left: -202px;
    position: relative;
}
/* Contenido (ver -> wrapper)*/
#mitte {
    margin-bottom: 12px;
}
    /* Elementos del Contenido*/
#mitte ul,
#mitte p {
    margin: 15px 30px 15px 50px;
}
/* Menu derecha*/
#menur {
    position: absolute;
    top: 86px;
    right: 0px;
    width: 200px;
}
/* Footer */
#footer {
    position: relative;
    width: 100%;
    height: 40px;
    clear: both;
    border-top:1px solid #848484;
    background-color: #fff;
    color: #333;
}
#footer p {
    font-size:11px;
    padding:10px 0 0 15px;
}

/* Formularios, elementos */
.form{
    margin: 0 20px 0 10px;
}
.form div{
    margin:5px;
}
.formse{
    background: #92b1cd;
    padding: 15px;
}
label{
    font-style: italic;
    font-size: 1.1em;
    color: #000;
}
.input input,select{
    width: 200px;
}
.textarea textarea{
    width: 100%;
}
 input,textarea,select{
     border:1px solid #c4c7c8;
     padding: 5px;
}
input:hover,input:focus,textarea:hover,textarea:focus,select:hover,select:focus{
    color:#00204e;
    border:1px solid #575b9c;
}
.textarea textarea{
    color:#333;
    font-size: 90%;
    font-family:Arial,Helvetica,sans-serif;
}
.textarea label,.selectmultiple select{
    display: block;
}
.submit input{
    display: block;
    background:url("../images/bg-panel-header.gif") repeat-x #F1F1F1;
    border:1px solid #D3D3D3;
    cursor:pointer;
    height:30px;
    padding:5px 10px 5px 10px;
    color:#3e4545;
}
.submit input:hover{
    border:1px solid #ccc;
}

/* Login */
#login form {
    -moz-border-radius:11px 11px 11px 11px;
    -moz-box-shadow:0 4px 18px #C8C8C8;
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #E5E5E5;
    font-weight:normal;
    margin-left:8px;
    padding:16px 16px 40px;
}
#login form p {
    margin-bottom:0;
}
#login label {
    color:#777777;
    font-size:13px;
}

#login form .forgetmenot label {
    font-size:11px;
    line-height:19px;
}
#login form .submit, .alignright {
    float:right;
}
#login form p {
    margin-bottom:24px;
}
#nav {
    text-shadow:0 1px 0 #FFF;
}
#login {
    font:11px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    padding-top:30px;
    margin:1em auto;
    width:320px;
}

#info {
    font:11px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    margin:1em auto;
    width:320px;
}
#login_error, .message {
    -moz-border-radius:3px 3px 3px 3px;
    border-style:solid;
    border-width:1px;
    margin:0 0 16px 8px;
    padding:12px;
}
#nav {
    margin:0 0 0 8px;
    padding:16px;
}
#user_pass, #user_login, #user_email {
    background:none repeat scroll 0 0 #FBFBFB;
    border:1px solid #E5E5E5;
    font-size:24px;
    margin-bottom:16px;
    margin-right:6px;
    margin-top:2px;
    padding:3px;
    width:97%;
}
#login input {
    color:#555555;
}
.h1login{
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    text-align: center;
    display:block;
    width: 46%;
    line-height: 2em;
    font-size:1em;
    margin:5em auto;
    margin-bottom:-1em;
    color:#6f90b8;
}
.error, .login #login_error {
    background:#ffEBE8;
    border-color:#CC0000;
    -moz-border-radius:3px 3px 3px 3px;
    border-style:solid;
    border-width:1px;
    margin:0 0 16px 8px;
    padding:12px;
}
.subform{
    margin-right: 10px;
}

/********
/
/   Páginas
/
*********/

/*Página Registro de Estrategias*/
.avataral{
    width:15%;
}
.infoal{
    width: 75%;
}
.infoeal{
    margin: 0 25px 0 25px;
}
.infoeal ul{
    width: 100%;
}
.infoeal ul li{
    list-style: none;
    margin:0 5px 1px -30px;
    padding:0 0 0 5px;
}
.grayrow{
    background: #ccc;
}
.imgal{
    padding: 8px;
    background: #e9e8e8;
}
span.lile{
    font-weight: bold;
    margin-right: 8px;
}
.tablaEstrategia{
    width: 100%;
    border:0;
}
.tablaEstrategia td{
    padding:5px 10px 5px 10px;
}
.tdcenter{
    text-align: center;
}
.odd{
   background: #ccc;
}
.hover{
    background-color: #b8d1e2;
}
.btnnor{
   position: relative;
}
.btndelete{
    display:block;
    display:none;
    width: 16px;
    height: 16px;
    background:url("../images/delete.png") no-repeat;
    position: absolute;
    top:-16px;
    right: 0;
    cursor:pointer;
}