/* 
    Document   : default
    Created on : 3/10/2010, 07:33:36 PM
    Author     : Sandsower
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.incomplete{
    color: red;
}

.complete{
    color: green;
}

.competencia{
    display: none;
}